body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.icon,
.icon-link {
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: height 1s;
}

.icon-link:hover {
  height: 50px;
}

#header-container {
  width: 100%;
  height: 500px;
}

#header-description {
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 20px;
}

#header-name {
  font-size: 70px;
}
#header-title {
  font-size: 40px;
}

#photo {
  width: 30%;
  height: auto;
  border: 5px solid white;
  border-radius: 25px;
  margin-bottom: 20px;
}

#about-container {
  background-color: #59c3c3;
  height: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#about-title,
#projects-title {
  font-size: 40px;

  transition: font-size 1s;
}

#about-title:hover,
#projects-title:hover {
  font-size: 50px;
}

#about-paragraphs-container {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
}

#projects-container {
  background-color: #52489c;
  margin-top: 0px;
}

#projects-title {
  height: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#projects-links-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.projects {
  display: grid;
  place-items: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.projects-headers {
  font-size: 35px;
}

.project-image {
  width: 75vh;
  border: 3px solid white;
  transition: width 0.5s;
}

.project-image:hover {
  width: 85vh;
}

#first-project-text,
#second-project-text,
#third-project-text,
#fourth-project-text {
  width: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.proj-links {
  color: #59c3c3;
}

.tech-icons-container-1,
.tech-icons-container-2 {
  display: flex;
  justify-content: center;
}

.site-link,
.github-link {
  display: flex;
  justify-content: center;
}

.tech-icons-container-2 {
  border: 1px solid whitesmoke;
  border-radius: 25px;
}

#footer-container {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #0081a7;
  height: 8%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#footer-text {
  padding-top: 10px;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  #header-name {
    font-size: 60px;
  }
  #header-title {
    font-size: 25px;
  }

  #photo {
    width: 40%;
  }

  .projects-headers {
    font-size: 25px;
  }

  .project-image {
    width: 30vh;
  }

  .project-image:hover {
    width: 35vh;
  }

  #about-paragraphs-container {
    width: 90%;
  }

  #first-project-text,
  #second-project-text,
  #third-project-text,
  #fourth-project-text {
    width: 35vh;
  }
  .tech-icons-container-1,
  .tech-icons-container-2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 35vh;
  }
}
